@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:wght@100;200;300;400;500;600;700;800&display=swap");

/*
font-family: 'League Spartan', sans-serif;
font-family: 'Noto Serif', serif;
*/

/* 
Colours

P #2F43A1
R #E75F72
Y #E9DB9A


*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", sans-serif;
}

p {
  font-family: "Noto Serif", serif;
  font-size: 16px;
}

/* Nav bar styles */
.navbar {
  margin: 5px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.891);
  height: 60px;
  padding-left: 19px;
}

.nav-link {
  font-family: "Noto Serif", serif;
  color: #2f44a1da;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-item:hover {
  border-bottom: 1px solid #2f44a142;
}

.nav-item .active {
  border-bottom: 2px solid #2f44a173;
}

/* Global styles */

.btn {
  background-color: white;
  font-family: "Noto Serif", serif;
  color: #2f43a1;
}

.btn:hover {
  background-color: #2f43a1;
  color: white;
}

/* Home page styles */

/* Carousel */
.carousel-image-container {
  position: relative;
}

.carousel-item .container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 150px;
  background: rgb(47, 67, 161);
  background: linear-gradient(
    90deg,
    rgba(47, 67, 161, 0.6558998599439776) 0%,
    rgba(140, 82, 255, 0) 48%
  );
}

.carousel-item .container .row {
  color: azure;
  margin-left: 10%;
  font-size: 60px;
}

.carousel-item .container .row h1 {
  color: azure;
  font-size: 60px;
}

.c1img {
  width: 500px;
  height: 150px;
  background-image: url(../assets/LOGO/Logo\ without\ wave-white.svg);
  background-size: cover;
  filter: invert(1);
  margin-top: 5px;
  margin-bottom: 20px;
}

.about {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(
    225deg,
    rgba(235, 238, 255, 1) 0%,
    rgba(211, 190, 255, 0.639093137254902) 100%
  );
}

.about .col-7 {
  padding-right: 100px;
  margin: auto;
}

.about .col-7 h1 {
  font-size: 60px;
  font-weight: 600;
}

.top-destination {
  padding-top: 50px;
  padding-bottom: 80px;
  background: rgb(235, 238, 255);
  background: rgb(235, 238, 255);
  background: linear-gradient(
    45deg,
    rgba(235, 238, 255, 1) 0%,
    rgba(211, 190, 255, 0.639093137254902) 100%
  );
}

.top-destination-title {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #2f43a1;
}

.top-destination .carousel-inner {
  background: rgb(47, 67, 161);
  background: linear-gradient(
    328deg,
    rgba(47, 67, 161, 1) 15%,
    rgba(185, 150, 255, 1) 100%
  );
  padding: 20px;
  border-radius: 18px;
}

.top-destination .carousel-inner .col-6 .top-destination-img {
  border-radius: 10px;
}

.top-destination .carousel-inner .col-6 h1,
h2,
h3,
h4 {
  color: white;
}

.top-destination .carousel-inner .col-6 h1 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 6px;
}
.top-destination .carousel-inner .col-6 h2 {
  font-weight: 600;
  margin-bottom: 20px;
}
.top-destination .carousel-inner .col-6 h3 {
  font-weight: 600;
}
.top-destination .carousel-inner .col-6 h4 {
  font-family: "Noto Serif", serif;
  font-weight: 300;
  margin-bottom: 22px;
}

/* Carousel controls */
.carousel-control-next,
.carousel-control-prev {
  width: 50px;
  height: 50px;
  top: auto;
  right: 20px;
  left: auto;
  bottom: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.carousel-control-prev {
  left: 20px;
}

/* Trips */

.b-hero {
  width: 100%;
  height: 380px;
  background-color: #2f43a1;
  background-image: url(../assets/Trips/Banner.jpg);
  background-size: cover;
  padding-top: 120px;
  text-align: center;
}

.b-hero h1 {
  font-size: 110px;
  color: white;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
}

.b-hero-overlay {
  width: 100%;
  height: 120px;
  background: rgb(47, 67, 161);
  background: rgb(47, 67, 161);
  background: linear-gradient(
    0deg,
    rgba(47, 67, 161, 1) 0%,
    rgba(140, 82, 255, 0) 81%
  );
}

.b-trips {
  height: auto;
  background-color: #2f43a1;
}

.b-trips-top-group {
  padding-top: 40px;
  color: white;
}

.b-trips-top-line {
  width: 100%;
  height: 5px;
  margin-bottom: 50px;
  background-color: white;
}

/* Drop down menus for filtering and sorting */
.btn-group {
  margin-bottom: 50px;
}

.dropdown button {
  margin-right: 10px;
}

.dropdown-menu {
  padding: 10px;
  -webkit-box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-menu p {
  margin-bottom: 5px;
}

/* Trips card style */
.card {
  width: 370px;
  height: auto;
  border-radius: 10px 80px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: none;
  box-shadow: -4px 12px 52px 6px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: -4px 12px 52px 6px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -4px 12px 52px 6px rgba(0, 0, 0, 0.57);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

card.extend {
  width: 400px;
  height: auto;
  border-radius: 10px 80px 10px 10px;
  border: none;
  box-shadow: -4px 12px 52px 6px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: -4px 12px 52px 6px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -4px 12px 52px 6px rgba(0, 0, 0, 0.57);
  transition: width 0.3s ease;
}

.card-img-top {
  height: 250px;
  width: auto;
  border-radius: 10px 80px 0px 0px;
}

.price-text {
  font-size: 20px;
}

.card-top-group {
  width: 280px;
  height: 50px;
  color: white;
  margin-top: -245px;
  margin-bottom: 195px;
  margin-left: 15px;
  fill: white;
}

.card-top-group p {
  font-size: 28px;
  text-shadow: -2px 3px 9px #000000, 5px 1px 9px #ce5937;
}
/* Style before click */
/* Style after click */
